<section id="main-content" class="animated fadeInUp">
                <div class="row">
                  <%# @emp = Employee.find(params[:employee_id]) %>
                    <div class="col-md-12">
                        <div class=" panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Payslips</h3>
                                <div class="actions pull-right">
                                 <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
<%#= @dates = [] %>
<div class="col-md-6">
    <label>Select Month</label>
<%= select_tag "salary_date",options_for_select(@salary_dates),{prompt: "Please Select" , class: "form-control"}%>
</div>


<div class="col-md-6">
    <label>Select Employee</label>

<%= select_tag "employee",options_from_collection_for_select(@employees,"id","name"),{prompt: "Please Select" , class: "form-control"}%>
</div>
<br><br>


</div>
</div>
</div>
</div>
<div id="vendor">
</div>

</section>
<% content_for :javascript do %>

<script type='text/javascript'>
    $("#salary_date").select2();
    $("#employee").select2();
$('#employee').on('change', function() {
    var emp = $(this).val();
    var sd = $("#salary_date").val();
 
 $.ajax({
   url: '/payslips/select_emp',
   type: 'GET',
   dataType: 'script',
   data: {employee: emp,salary_date: sd},
   }).success(function(data) {
   
 });
});
</script>
<% end %>