<section id="main-content" class="animated fadeInUp">
                      <div class="row">
                    <div class="col-md-12">
                        <div class=" panel panel-warning">
                          <div class="panel-heading">
                            <h3 class="panel-title">Work Orders</h3>
                            <div class="actions pull-right">
                             <i class="fa fa-expand"></i>
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">


       
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<tr>
		<th>Side</th>
		
		<th>Shade</th>
   
	</tr>
	<% if @m.right == "Yes" %>
	<tr>
			
			<td>Right</td>
			
			
			<% if @m.right_dark == "Yes" %>
			<td>Dark</td>
			<% elsif @m.right_light == "Yes" %>
			<td>Light</td>
			<% end %>
			
		</tr>
		<% end %>
		<% if @m.left == "Yes" %>
		<tr>
			
			<td>Left</td>
			
			
			<% if @m.left_dark == "Yes" %>
			<td>Dark</td>
			<% elsif @m.left_light == "Yes" %>
			<td>Light</td>
			<% end %>
		</tr>
		<% end %>
		<% if @m.top == "Yes" %>
		<tr>
			<td>
			Top</td>
			
			<% if @m.top_dark == "Yes" %>
			<td>Dark</td>
			<% elsif @m.top_light == "Yes" %>
			<td>Light</td>
			<% end %>
		</tr>
		<% end %>
		<% if @m.bottom == "Yes" %>
		<tr>
			<td>Bottom</td>
			
			<% if @m.bottom_dark == "Yes" %>
			<td>Dark</td>
			<% elsif @m.bottom_light == "Yes" %>
			<td>Light</td>
			<% end %>
		</tr>
		<% end %>
		
	</table>
<%= link_to "Edit" ,edit_workorder_path(@workorder),class: "btn btn-danger" %>|
	<%= link_to "Back" , workorder_path(@workorder),class: "btn btn-success" %>
	
</div>
</div>
</div>
</div>
</section>




<% content_for :javascript do %>

<script type="text/javascript">

	
  
  
  
  
  $(".chb").change(function() {
    var checked = $(this).is(':checked');
    $(".chb").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
  $(".chb1").change(function() {
    var checked = $(this).is(':checked');
    $(".chb1").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
  $(".chb2").change(function() {
    var checked = $(this).is(':checked');
    $(".chb2").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
  $(".chb3").change(function() {
    var checked = $(this).is(':checked');
    $(".chb3").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
  

</script>
<script type="text/javascript">
	
	$(document).on("click" ,"#submit" , function(){


		if($("#additional_right").prop('checked') == false && ($("#additional_right_dark").prop('checked') == true || $("#additional_right_light").prop('checked') == true)){
        alert("Please select side");
          return false;

      }
      if($("#additional_left").prop('checked') == false && ($("#additional_left_dark").prop('checked') == true || $("#additional_left_light").prop('checked') == true)){
        alert("Please select side");
          return false;

      }
      if($("#additional_top").prop('checked') == false && ($("#additional_top_dark").prop('checked') == true || $("#additional_top_light").prop('checked') == true)){
        alert("Please select side");
          return false;

      }
      if($("#additional_bottom").prop('checked') == false && ($("#additional_bottom_dark").prop('checked') == true || $("#additional_bottom_light").prop('checked') == true)){
        alert("Please select side");
          return false;

      }
      
      if($("#additional_right").prop('checked') == true){
         if ($("#additional_right_dark").prop('checked') == false && $("#additional_right_light").prop('checked') == false){
         	alert("Please select color shade");
          	return false;
          
        	}

        }



      
      if($("#additional_left").prop('checked') == true){
        var left = $("#additional_left").val();
        var left_color = $("#additional_left_color").val();
        if ($("#additional_left_dark").prop('checked') == false && $("#additional_left_light").prop('checked') == false){
          
          
          
          alert("Please select color shade");
          return false;
          
        }
    }

        
      if($("#additional_top").prop('checked') == true){
        
        if ($("#additional_top_dark").prop('checked') == false && $("#additional_top_light").prop('checked') == false){
          
          
          
          alert("Please select color shade");
          return false;
          
        }
    }
    if($("#additional_bottom").prop('checked') == true){
        
        if ($("#additional_bottom_dark").prop('checked') == false && $("#additional_bottom_light").prop('checked') == false){
          
          
          
          alert("Please select color shade");
          return false;
          
        }


        




     
      

        


      }


      
    });

</script>
<% end %>