<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class=" panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Location Report</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
       
        
        
        
      
<% @locations = Location.all %>

<div class="form-group ">
   
       <label class="col-sm-1 control-label">Location</label>
        <div class="col-md-4">
   <%= select_tag "location", options_from_collection_for_select(@locations, "id", "name"), prompt: "Select location",class: "form-control" %>

</div>
   

         
          <label class="col-sm-1 control-label">Type</label> 
         <div class="col-md-4">
        <%= select_tag :report_type , options_for_select(['Workorders' , 'Employees','Vendors','Status of workorders']),prompt: "Please Select",class: "form-control" %>
      </div>
   </div>
    

<div id="vendor">
</div>





       </div>
     </div>
   </div>
 </div>
</section>

<% content_for :javascript do %>

<script type='text/javascript'>
$('#report_type').on('change', function() {
 var report_type;
 var location = $('#location').val();

 
 Item = $(this).val();


 $.ajax({
   url: '/workorders/location_report',
   type: 'GET',
   dataType: 'script',
   data: {report_type: Item ,location: location },
   }).success(function(data) {
   
 });
});
</script>

<script type="text/javascript">
  $( document ).ready(function() {
    
    $("#location").select2({
   
   
  });
     $("#report_type").select2({
   
   
  });
    
    
});
</script>
<% end %>