<section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Workorder Status Report</h3>
                                <div class="actions pull-right">
                                 <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
<%= form_for :workorder, url:{action: 'workorder_status_report',remote:true} do |form| %>
 
<div class = "center">

  
     
<div class="form-group">
  <div class="col-md-4">
    <label class="col-sm-12 control-label">Select Status</label>
      <%= select_tag :status, options_for_select(["Pending","Completed","Working","Hold","Not Approved","All"]) ,{prompt: "Please Select",class: "form-control"}%>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

  <div id="vendor">
</div>

        

<% end %>
</div>
</div>
</div>
</div>
</section>

<% content_for :javascript do %>
<script type="text/javascript">
  

  $('#status').on('change', function() {
    
    var t ;
  Item = $(this).val();

 
 $.ajax({
   url: '/workorders/workorder_status_report',
   type: 'GET',
   dataType: 'script',
   data: {t: Item},
   }).success(function(data) {
   
 });
});
</script>
<script type="text/javascript">
  $( document ).ready(function() {
    
    $("#status").select2({

    });
     /*$("#payment_status").select2({
      width: 200,

     });
     $("#vendor_id").select2({
      width: 200,

     });*/
    
    
});
</script>


<% end %>