<div id="content" class="col-sm-2 col-lg-2">
<div class="sidebar-nav">
<div class="nav-canvas">
  <div class="nav-sm nav nav-stacked">
  </div>
    <ul class="nav nav-pills nav-stacked main-menu">
        
        <li class="ajax-link">
          <a href="/home/dashboard">
            <i class="glyphicon glyphicon-home"></i>
            <span>Dashboard</span>
          </a>
        </li>
         <div class="well top-block">
        <li>
         
          <a href="/workorders/new">
          <i class="glyphicon glyphicon-edit"></i>
            <span>New Workorder</span>
          </a>      
        </li>
      </div>

       <div class="well top-block">
        <li>
          
          <a href="/workorders">
            <i class="glyphicon glyphicon-star"></i>
            <span>All Workorders</span>
          </a>
        </li>
      </div>
       <!--  <li>
          <a href="/users">
            <i class="glyphicon glyphicon-user"></i>
            <span>Manage Users</span>
          </a>
        </li> -->
        <div class="well top-block">
        <li>
          <a href="/workorders/order_status">
            <i class="glyphicon glyphicon-signal"></i>
            <span>Workorder Status</span>
          </a>
        </li>
      </div>
        <li>
          <a class="well top-block" href="/employees">
            <i class="glyphicon glyphicon-cog"></i>
            <span>Employees</span>
          </a>
        </li>
        <li>
          <a class="well top-block" href="/vendors">
            <i class="glyphicon glyphicon-link"></i>
            <span>Vendors</span>
          </a>
        </li>
        <!-- <li>
          <a href="/finance">
          <i class="glyphicon glyphicon-briefcase"></i>
            <span>Finance</span>
          </a>
        </li>   -->              
       <!--  <li>
          <a href="/time_tables">
            <i class="glyphicon glyphicon-time"></i>
            <span>Timetable</span>
          </a>
        </li> -->
        <div class="well top-block">
        <li>
          <a href="/employees/empwork">
          <i class="glyphicon glyphicon-tasks"></i>
            <span>Attendance</span>
          </a>
        </li>
      </div>
       <!--  <li>
          <a href="/calender">
            <i class="glyphicon glyphicon-calendar"></i>
            <span>Calender</span>
          </a>
        </li>               
        <li>
          <a href="/newscasts">
            <i class="glyphicon glyphicon-comment"></i>
            <span>Manage News</span>
          </a>
        </li>
          <li>
          <a href="/placement_exams">
            <i class="glyphicon glyphicon-thumbs-up"></i>
            <span>Placement</span>
          </a>
        </li> -->

      </ul>
    </div>
  </div>
</div>