
<div class="container">
  
  <h3>Menu</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a href="/home/dashboard">Home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Misc. <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/companies">Company</a></li>
        <%if current_user.role == 'SuperAdmin'%>
        <li><a href="/employees">Employees</a></li>
        <%end%>
        <li><a href="/products">Products</a></li>
        <li><a href="/vendors">Vendors</a></li>                        
      </ul>
    </li>
    <li><a href="/inwards">Inward</a></li>
    <li><a href="/deliveries">Delivery</a></li>
    <li><a href="/deliveries">Record Payment</a></li>
        <li><a href="/returns">Return</a></li>
<%if current_user.role == 'SuperAdmin'%>
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports. <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/reports/new">Daily Report</a></li>
         <li><a href="/deliveries/new_delivery">Vendor Deilvery Report</a></li>    
        <li><a href="/returns/return_type_report">Return Type Report</a></li> 
        <li><a href="/deliveries/payment_status_report">Payment Status vise report</a></li>                   
      </ul>
    </li>
<%end%>

<div class="pull-right">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn btn-danger' %>
</div>
  </ul>
</div>
