
<div class="container">
  <h3>Menu</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a href="/home/dashboard">Home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Misc. <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/companies">Company</a></li>
        <li><a href="#">Employees</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="#">Vendors</a></li>                        
      </ul>
    </li>
    <li><a href="#">Inward</a></li>
    <li><a href="#">Delivery</a></li>
    <li><a href="#">Record Payment</a></li>
        <li><a href="#">Return</a></li>

<div class="pull-right">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn btn-danger' %>
</div>
  </ul>
</div>
