 <ul class="dropdown-menu animated fadeInRight" role="menu">
                        <li class="profile-progress">
                            <h5>
                                <span>80%</span>
                                <small>Profile complete</small>
                            </h5>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-primary" style="width: 80%">
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-user"></i>
                                </span>My Account</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-envelope"></i>
                                </span>Messages</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-cog"></i>
                                </span>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-sign-out"></i>
                                </span>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav>
                <h5 class="sidebar-header"></h5>
                <ul class="nav nav-pills nav-stacked">
                    <% if current_user.role == "SuperAdmin" %>
                    <li>
                        <a href="/home/dashboard" title="Dashboard">
                            <i class="fa  fa-fw fa-tachometer"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Misc.">
                            <i class="fa  fa-fw fa-cogs"></i>Misc.
                        <ul class="nav-sub">
                            <li>
                                <a href="/companies" title="Companies">
                                     Companies
                                </a>
                            </li>
                            <li>
                                <a href="/employees" title="Employees">
                                    Employees
                                     </a>
                            </li>
                            <li>
                                <a href="/products" title="Products">
                                     Products
                                </a>
                            </li>
                            <li>
                                <a href="/vendors" title="Vendors">
                                    Vendors
                                </a>
                            </li>

                           
                        </ul>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Reports">
                            <i class="fa  fa-fw fa-edit"></i>Reports
                        </a>
                        <ul class="nav-sub">
                            <li><a href="/reports/new" title="Daily Report">Daily Report</a>
                            </li>
                            <li><a href="/deliveries/new_delivery" title="Vendor Delivery Report">Vendor Delivery Report</a>
                            </li>
                            <li><a href="/returns/return_type_report" title="Return Type Report">Return Type Report</a>
                            </li>
                            <li><a href="/deliveries/payment_status_report" title="Payment Status Vise Report">Payment Status vise report</a>
                            </li>
                            
                        </ul>
                    </li>
                   
                    
                        
                   
                   
                    <li>
                        <a href="/inwards" title="Inwards">
                            <i class="fa  fa-fw fa-desktop"></i>Inwards
                            
                        </a>
                    </li>
                     <li>
                        <a href="/deliveries" title="Deliveries">
                            <i class="fa  fa-fw fa-desktop"></i>Deliveries
                            
                        </a>
                    </li>
                     <li>
                        <a href="/returns" title="Returns">
                            <i class="fa  fa-fw fa-desktop"></i>Returns
                            
                        </a>
                    </li>
                     <li>
                        <a href="/colors/new" title="Returns">
                            <i class="fa  fa-fw fa-tachometer"></i>Add Color
                            
                        </a>
                    </li>
                    
                    
                        
                    </li>
                    <% elsif current_user.role == "Vendor" %>

                    <li>
                        <a href="/work_orders" title="My Orders">
                            <i class="fa  fa-fw fa-desktop"></i>My Orders
                            
                        </a>
                    </li>
                     <% end %>
                    <li>
                        <a href="/furnitures/new" title="New Order">
                            <i class="fa  fa-fw fa-edit"></i>New Order
                            
                        </a>
                    </li>
                   
            </nav>